.card-coustom{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.card-coustomDetail{
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
